---
layout: template.njk
title: Eric Brown - Home
---

<h2 class="hero-heading">
  <span class="hero-heading__greeting">Hi,</span>
  <span class="hero-heading__intro">I'm Eric Brown</span>
</h2>
<p class="hero-text">
  I’m a recent graduate of Raritan Valley Community College and an aspiring
  software developer, UI designer and game developer. I love bringing creative
  projects to life with code.
</p>
<button class="hero-cta">
  <a href="/about" class="hero-cta__link">More about me</a>
</button>
